.web{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #e84821;
    color: #fffbf4;
    font-size: 1rem;
}

.block{

    @media screen and (min-width: 320px) {
        width: 100vw;
    }
    
    @media screen and (min-width: 600px) {
        width: 500px;
    }

    &-page{
        margin: 1rem;

        @media screen and (min-width: 320px) {
            width: 100vw;
        }
        
        @media screen and (min-width: 600px) {
            width: 500px;
        }

        &--position{
            position: relative;
        }
    }

    &__belt{
        margin: 2rem;

    }

    &__paragraph{
        margin: 1rem;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__title{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;

        &--small{
            font-size: 1rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        padding: 1.5rem;
        margin: 1rem;
        background: #fffbf4;
        color: #DD3D14;

    }


}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DD3D14;
    
    &__block{
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
    }

    &__label{
        margin-right: .5rem;
        font-size: .8rem;
    }

    &__input{
        background-color: #DD3D14;
        border-radius: .5px;
        border: none;
        border: 2px solid #DD3D14;
        font-size: .8rem;
    }

    &__submit{
        color: #DD3D14;
        background-color: #fffbf4;
        border: none;
        border-radius: 3px;
        padding: .8rem;
        margin-top: 1.3rem;
        width: 10rem;
    }
}

.horizontalLine{
    display: block;
    width: 2.5rem;
    height: .1rem;
    background-color: #fffbf4;
}
