@use "../../style/partials/fonts" as *;


.web{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: #e84821;
    color: #fffbf4;

    @media screen and (min-width: 320px) {
        overflow: hidden;
        width: 100vw;
    }

}

.block{
    margin: 1rem;
    width: 320px;

    @media screen and (min-width: 320px) {
        width: 100vw;
    }
    
    @media screen and (min-width: 500px) {
        width: 500px;
    }

    &__paragraph{
        margin: 1.5rem;
    }

    &__img{
        display: block;
        width: 100%;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 1.5rem;
    margin: 1rem;
    background-color: #fdf4df;
    color: #DD3D14;
    
    &__title{

        &--large{
            font-size: 3rem;
            margin-bottom: -1rem;
        }

        &--small{
            font-size: .8rem;
        }
    }

    &__body{
        margin-top: 2rem;
        text-align: start;
    }

    &__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &--row{
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
    }

    &__label{

        &--title{
            font-weight: bold;
            text-transform: uppercase;
            margin-right: .7rem;
        }
    }

    &__input{
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #DD3D14;
        width: 50%;
        padding: .3rem;
        font-size: 1rem;
        color: rgb(61, 61, 61);
    }

    &__submit{
        color: #fdf4df;
        background-color: #DD3D14;
        border: none;
        padding: .7rem;
        margin: 1rem;
        width: 50%;
        font-size: 1rem;
        text-transform: uppercase;

        &:hover{
            background-color: #9e2d10;
        }
    }
}

.horizontalLine{
    display: block;
    width: 2.5rem;
    height: .1rem;
    background-color: #fffbf4;
}

.korean{
    font-family: 'DXB';
    font-size: .8rem;
}

.fontSize{
    font-size: .8rem;
}