@use "../../style/partials/fonts" as *;


.web{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: #fdecec;
    color: #886c35;

    @media screen and (min-width: 320px) {
        overflow: hidden;
        width: 100vw;
    }

}

.block{
    margin: 1rem;
    width: 320px;

    @media screen and (min-width: 320px) {
        width: 100vw;
    }
    
    @media screen and (min-width: 500px) {
        width: 500px;
    }

    &__paragraph{
        margin: 1.5rem;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__carousel{
        display: flex;
        margin: 0;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 1.5rem;
    margin: 1rem;
    margin-top: 3rem;
    color: #fdecec;
    border: 1px solid #886c35;
    
    &__radio{
        position: absolute;
        right: -1rem;
    }

    &__title{
        color: #886c35;
        

        &--large{
            font-size: 1.5rem;
            margin-bottom: -.3rem;
            font-family: Montserrat;
        }

        &--small{
            font-family: Montserrat;
            font-size: .7rem;
        }
    }

    &__body{
        margin-top: 2rem;
        text-align: start;
    }

    &__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &--row{
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
    }

    &__label{
        &--title{
            font-weight: bold;
            text-transform: uppercase;
            font-size: .7rem;
            font-family: Montserrat;
            color: #886c35;

        }
    }

    &__input{
        background-color: transparent;
        border-radius: 3px;
        border: none;
        border-bottom: 1px solid #886c35;
        width: 75%;
        color: rgb(61, 61, 61);
        margin-left: .5rem;
        text-align: center;

        &--number{
            width: 30%;
        }
    }

    &__submit{
        background-color: #886c35;
        color:#fdecec;
        padding: .2rem .9rem;
        border-radius: 3px;
        font-size: .7rem;
        border: none;
        font-family: Montserret;
        text-transform: uppercase;
        margin-top: 1rem;

        &:hover{
            background-color: #675227;
        }
    }
}

.divider{
    width: 6rem;
    background-image: url("../../assets/img/divider.png") no-repeat;
    background: center fixed;
    margin: -1rem;
}

.korean{
    font-family: 'DXB';
    font-size: .8rem;

    &--date{
        font-family: Montserrat;
        font-weight: 600;
        font-size: .85rem;
    }
}

.fontSize{
    font-size: .8rem;
}

.linkFont{
    font-size: .8rem;
    color: #886c35;
    text-decoration: none;
    &:hover{
        cursor:auto;
    }
}

.font--dx{
    font-family: DX;
    font-size: .75rem;
    margin: 2rem;
    margin-top: 3rem;
}

.font--mon{
    font-family: Montserrat;
    font-size: .8rem;
    font-weight: 500;

    &-bold{
        font-weight: bold;
    }
}


.line{
    margin: .4rem;

    &__map{
        font-size: .7rem;
        margin-bottom: .7rem;
    }

    &__title{
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    &__parking{
        margin-top: 1.2rem;
    }
}

.map{
    background-color: #886c35;
    color:#fdecec;
    list-style: none;
    text-decoration: none;
    padding: .2rem .9rem;
    border-radius: 3px;
    font-size: .7rem;

    &:hover{
        background-color: #675227;
    }
}

.joshua{
    font-family: DX;
    font-size: .6rem;
}