.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }
 
  .carousel-image {
    max-width: 95%;
    max-height: 400px; /* Adjust the height as needed */
    margin: 10px 0;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .thumbnail {
    width: 13%; /* Adjust the width of each thumbnail as needed */
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
  }
  
  .thumbnail.active {
    transform: rotate(10deg);
  }
