@font-face {
    font-family: 'DXB';
    src: url('../../assets/font/DXKPGB-KSCpc-EUC-H.woff2') format('woff2'),
        url('../../assets/font/DXKPGB-KSCpc-EUC-H.woff') format('woff'),
        url('../../assets/font/DXKPGB-KSCpc-EUC-H.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lateef';
    src: url('../../assets/font/Lateef.woff2') format('woff2'),
        url('../../assets/font/Lateef.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

